/* 10 Key Game Core Stylesheet */

/* Global change to box model*/
* {
    box-sizing: border-box;
}

/* Baseline Elements */
body, html {
    background-color: #26ad5e;
    font-family: 'Robot', sans-serif;
    color: #e3eaf2;
}

/* Main Wrapper */
.wrapper {
    width: 100%;
}

/* Game Container */
.game-container {
    margin: 0 auto;
    margin-top: 50px;
    width: 600px;
    background-color: #1d954f;
    border-radius: 15px;
}

.row-container {
    display: flex;
}

.mole-cell {
    position: relative;
    width: 33.3%;
    height: 150px;
    background-image: url('../../assets/imgs/hole.png');
    background-position: center;
    background-position-y: 90%;
    background-repeat: no-repeat;
}

.fx-flash {
    position: absolute;
    z-index: 1;
    left: 25px;
}

/* BORDERS */
.t1, .t2, .t4, .t5 {
    border-top: 0px;
    border-right: 1px;
    border-bottom: 1px;
    border-style: dashed;
    border-color: rgb(255, 255, 255, 0.3);
}

.t3, .t6 {
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-style: dashed;
    border-color: rgb(255, 255, 255, 0.3);
}

.t7, .t8 {
    border-top: 0px;
    border-right: 1px;
    border-bottom: 0px;
    border-style: dashed;
    border-color: rgb(255, 255, 255, 0.3);
}

.t9 {
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: dashed;
    border-color: rgb(255, 255, 255, 0.3);
}

.mole-img {
    position: absolute;
    left: 55px;
    top: 20px;
}

.game-info-container {
    margin: 0 auto;
    margin-top: 10px;
    width: 600px;
    padding: 10px;
    background-color: #282828;
    height: 80px;
    border-radius: 15px;
}

.btn {
  margin: 0 auto;
  text-align: center;
}

/* ANIAMTION */

/* --- Scale Vertical Bottom */
.animate-pop-up {
	-webkit-animation: animate-pop-up 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: animate-pop-up 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.animate-drop-down {
	-webkit-animation: animate-drop-down 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                animation: animate-drop-down 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        
}

.vibrate {
	-webkit-animation: vibrate 0.2s linear 2 both;
	        animation: vibrate 0.2s linear 2 both;
}

/* KEYFRAMES */
/* --- Scale Vertical Bottom */
 @-webkit-keyframes animate-pop-up {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  @keyframes animate-pop-up {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  

  /* Animate Drop Down */
  @-webkit-keyframes animate-drop-down {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }


  /*  */
  @keyframes animate-drop-down {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }

/* Vibrate */
@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

      